.features-container-all {
  background-color: var(--ltBackground);
  padding: 30px;
}

.features-container {
  text-align: center;
}

.icons-container {
  text-align: center;
}

.icons-container img {
  padding: 20px;
}

.icons-container p {
  font-size: 20px;
}

.icons-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
