.showroom-container {
  background: rgb(32, 33, 34);
  color: #fcf7f8;
  text-align: center;
  padding: 5rem;
}

.showroom-heading {
  padding: 2rem;
}

.showroom-txt-container {
  font-size: 20px;
}

.showroom-button {
  padding: 2rem;
}
