.home-contract-container {
  /* background-color: var(--dkBackground); */
  background: rgb(32, 33, 34);
  background: linear-gradient(
    180deg,
    rgba(32, 33, 34, 1) 54%,
    rgba(114, 113, 116, 1) 78%,
    rgba(252, 247, 248, 1) 100%
  );
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.home-contract-section {
  align-items: center;
  padding: 10px;
}

.home-section {
  text-align: left;
}

.contract-section {
  text-align: right;
}

.home-pic {
  display: flex;
  justify-content: center;
}

.home-pic img {
  border-radius: 50%;
  height: 400px;
  width: 400px;
  filter: brightness(70%);
}

.contract-pic {
  display: flex;
  justify-content: center;
}

.contract-pic img {
  border-radius: 50%;
  height: 400px;
  width: 400px;
  filter: brightness(70%);
}
