.goals-container-all {
  background-color: var(--ltBackground);
}

.goals-container {
  padding-bottom: 20px;
}

.goals-logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.goals-logo-title img {
  padding: 30px;
}

.goals-details {
  text-align: center;
  padding: 30px 10px;
}

.goals-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: var(--yellow) !important;
  color: black;
  border-color: var(--yellow);
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}
