.home-contract-container {
  background-color: var(--dkBackground);
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.home-contract-section {
  align-items: center;
  padding: 10px;
}

.home-section {
  text-align: left;
}

.contract-section {
  text-align: right;
}

.home-pic {
  display: flex;
  justify-content: center;
  position: relative;
  /* left: 10%; */
  padding-left: 17%;
}

.home-pic img {
  border-radius: 50%;
  height: 400px;
  width: 400px;
  filter: brightness(70%);
}

.contract-pic {
  display: flex;
  justify-content: center;
}

.contract-pic img {
  border-radius: 50%;
  height: 400px;
  width: 400px;
  filter: brightness(70%);
}

@media screen and (max-width: 1399px) {
  .home-pic {
    padding-left: 10%;
  }
}

@media screen and (max-width: 1199px) {
  .home-pic img {
    display: none;
  }

  .contract-pic img {
    display: none;
  }

  
}
