.home-contract-container {
  background-color: var(--dkBackground);
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.home-contract-section {
  align-items: center;
  padding: 10px;
}

.home-section {
  text-align: left;
}

.contract-section {
  text-align: right;
}

.home-pic {
  display: flex;
  justify-content: center;
}

.home-pic img {
  border-radius: 50%;
  height: 400px;
  width: 400px;
  filter: brightness(70%);
}

.contract-pic {
  display: flex;
  justify-content: center;
}

.contract-pic img {
  border-radius: 50%;
  height: 400px;
  width: 400px;
  filter: brightness(70%);
}
