/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

/* EVERYTHING */
*,*::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

/* HTML (whole page) */
html {
    scroll-behavior: smooth;
}

/* Body */
body {
    overflow-x: hidden;
}

/* Header */
header {
    font-family: 'Hammersmith One', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 18vh;
    position: fixed;
    width: 100vw;
    top: 0px;
    z-index: 2;
    background: transparent;
    transition: 0.4s ease-in;
}


.navbar.active {
    /* Change to white when true */
    background: rgb(22, 21, 21);
    transition: 0.4s ease-in;
}

    /* Logo */
    .logo {
        position: relative;
        height: 80px;
        z-index: 2;
    }


.navbar li {
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: #FCF7F8;
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    transition: 0.4s ease-in;
}

.navbar li a:hover {
    color: rgb(22, 21, 21);
    background-color: #FCF7F8;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s ease-in;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.nav-toggle {
    cursor: pointer;
    display: none;
}

.nav-toggle div {
    width: 25px;
    height: 2px;
    margin: 5px;
    background: darkgrey;
    transition: 0.4s ease-in;
}

/* Media Query */
@media screen and (max-width: 768px) {
    .navbar {
        background: rgb(22, 21, 21);
    }

    .navbar.active {
        background: rgb(22, 21, 21);
    }

        /* Logo */
        .logo {
           right: 4rem;
        }

    .nav-toggle {
        display: block;
        z-index: 1;
    }

    .navbar li a {
        color: #FCF7F8;
        background: transparent;
        padding: 10px;
        border-radius: 5px;
    }

    .navbar li a:hover {
        color: rgb(22, 21, 21);
        background-color: #FCF7F8;
        padding: 10px;
        border-radius: 5px;
    }

    .nav-list {
        position: fixed;
        top: 18vh;
        right: 0;
        width: 50%;
        height: 82vh;
        background: rgba(32, 33, 34, .9);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        z-index: 1;
    }
}

@media screen and (max-width: 768px) {
    .banner-content {
        position: relative;
        margin-top: 3rem;
    }
    
    .banner-content h1 {
        font-size: 75px;
    }
}

/* Nav Active */
.nav-active {
    transform: translateX(0);
}

/* Toggle Icon Animation */
.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}

/* Banner */
.banner-area {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(../../assets/images/aad&w-bg-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3vw;
    color: #FCF7F8;
}

.banner-content {
    position: relative;
    /* margin-left: 150px; */
}

.banner-content h1 {
    letter-spacing: 2px;
    animation: animate 2s 1;
    font-size: 75px;
}

    /* Banner Btn */
    .header-home-btn {
        color: #FCF7F8; 
        text-decoration: none;
        position: relative;
        top: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 20px;
        border: 2px solid #fff;
        transition: 0.5s ease-in-out;
        border-radius: 50px;
        font-size: 25px;
        animation: animate 2s 1;
    }

    .header-home-btn:hover {
        background-color: #FCF7F8;
        color:rgb(22, 21, 21);
        transition: 0.5s ease-in-out;
    }

    @keyframes animate {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }
