/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

/* EVERYTHING */
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

/* HTML (whole page) */
html {
  scroll-behavior: smooth;
}

/* Body */
body {
  overflow-x: hidden;
}

/* Header */
header {
  font-family: 'Hammersmith One', Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 111px;
  position: fixed;
  width: 100vw;
  top: 0px;
  z-index: 2;
  background: transparent;
  transition: 0.4s ease-in;
}

.navbar.active {
  /* Change to white when true */
  background: rgb(22, 21, 21);
  transition: 0.4s ease-in;
}

/* Logo */
.logo {
  position: relative;
  height: 80px;
  z-index: 2;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: #fcf7f8;
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  transition: 0.4s ease-in;
}

.navbar li a:hover {
  color: rgb(22, 21, 21);
  background-color: #fcf7f8;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s ease-in;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

@media screen and (max-width: 834px) {
  .nav-list {
    gap: 1rem;
  }
}

.nav-toggle {
  cursor: pointer;
  display: none;
}

.nav-toggle div {
  width: 25px;
  height: 2px;
  margin: 5px;
  background: darkgrey;
  transition: 0.4s ease-in;
}

/* Media Query */
@media screen and (max-width: 768px) {
  .navbar {
    background: rgb(22, 21, 21);
  }

  /* FIXED NAV BAR */
  .nav-list {
    justify-content: start;
    gap: 1;
  }

  .navbar.active {
    background: rgb(22, 21, 21);
  }

  /* Logo */
  .logo {
    right: 4rem;
  }

  .nav-toggle {
    display: block;
    z-index: 1;
  }

  .navbar li a {
    color: #fcf7f8;
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    margin-top: 36px;
    position: relative;
    right: 9px;
  }

  .navbar li a:hover {
    color: rgb(22, 21, 21);
    background-color: #fcf7f8;
    padding: 10px;
    border-radius: 5px;
  }

  .nav-list {
    position: fixed;
    top: 110px;
    right: 0;
    width: 50%;
    height: 100vh;
    background: rgba(32, 33, 34, 0.9);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  .banner-content {
    position: relative;
    margin-top: 3rem;
  }

  .banner-content h1 {
    font-size: 75px;
  }
}

/* Nav Active */
.nav-active {
  transform: translateX(0);
}

/* Toggle Icon Animation */
.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}

/* Banner */
.banner-area {
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(../../assets/images/aad&w-bg-1.jpg); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 3vw;
  color: #fcf7f8;
}

.banner-content {
  position: relative;
  /* margin-left: 150px; */
}

.banner-content h1 {
  letter-spacing: 2px;
  animation: animate 2s 1;
  font-size: 75px;
}

/* Banner Btn */
.header-home-btn {
  color: #fcf7f8;
  text-decoration: none;
  position: relative;
  top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 20px;
  border: 2px solid #fff;
  transition: 0.5s ease-in-out;
  border-radius: 50px;
  font-size: 25px;
  animation: animate 2s 1;
}

.header-home-btn:hover {
  background-color: #fcf7f8;
  color: rgb(22, 21, 21);
  transition: 0.5s ease-in-out;
}

@keyframes animate {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

/* PHONE RESPONSIVE */

/* iPhone XR (NON-ROTATED) */
@media screen and (max-width: 414px) {
  .logo {
    left: 10px;
  }

  .banner-content h1 {
    font-size: 48px;
  }

  .nav-list {
    width: 100%;
    height: 88vh;
  }

  .navbar li a {
    position: relative;
    right: 15px;
    margin-top: 67px;
    font-size: 30px;
  }
}

/* iPgone 12 Pro (NON-ROTATED) */
@media screen and (max-width: 390px) {
  .logo {
    left: 10px;
  }

  .banner-content h1 {
    font-size: 45px;
  }

  .header-home-btn {
    margin-top: 20px;
  }

  .nav-list {
    width: 100%;
    height: 87vh;
  }

  .navbar li a {
    position: relative;
    right: 15px;
    margin-top: 53px;
  }
} 

@media screen and (max-width: 667px), screen and (max-height: 375px) {
  .nav-list {
    width: 100%;
    height: 100vh;
    gap: 0;
  }

  .navbar li a {
    position: relative;
    right: 15px;
    margin-top: 5px;
  }
}

/* Media Query for iPhone 12 Pro - Landscape */
@media screen and (max-width: 844px), screen and (max-height: 390px) {
  .banner-content {
    margin-top: 70px;
  }
}

/* Media Query for iPhone XR - Landscape */
@media screen and (max-width: 896px), screen and (max-height: 414px) {
  .banner-content {
    margin-top: 70px;
  }
}

/* Media Query for Samsung Galaxy S8+ - Landscape */
@media screen and (max-width: 740px), screen and (max-height: 360px) {
  .banner-content {
    margin-top: 100px;
  }
}
 
/* iPhone SE (NON-ROTATED) */
@media screen and (max-width: 375px) {
  .nav-list {
    width: 100%;
    height: 100vh;
  }

  .navbar li a {
    position: relative;
    right: 15px;
    margin-top: 30px;
    font-size: 25px;
  }
}
