footer {
  background: rgb(22, 21, 21);
}

.footer-header {
  color: #fed766;
}

.footer-time {
  color: #fed766;
}

/* Copyright */
.copyright-section {
  padding-top: 10px;
}

.footer-copyright {
  color: #fcf7f8;
}

.footer-copyright-span {
  color: #fed766;
}

.footer-link {
  text-decoration: none;
  color: #fcf7f8;
  transition: 0.4s ease-in;
}

.footer-link:hover {
  color: rgb(22, 21, 21);
  background-color: #fcf7f8;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s ease-in;
}

.footer-icon {
  color: #fcf7f8;
  transition: 0.4s ease-in;
}

.footer-icon:hover {
  color: #fed766;
  transition: 0.2s ease-in;
}

.credit-link {
  text-decoration: none;
  font-size: 10px;
}

.credit-link:visited {
  color: white;
}

.credit-link {
  text-decoration: none;
  color: #fcf7f8;
  transition: 0.4s ease-in;
}

.credit-link:hover {
  color: #fed766;
  transition: 0.2s ease-in;
}

@media screen and (max-width: 767px) {
  .credit-link {
    position: relative;
    bottom: 10px;
  }
}
