/* NAV BAR + ICONS ON PRODUCTSNAV.JS*/
.nav-tabs .nav-item .nav-link {
  color: black;
}

.product-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
}

.product-icon-container li {
  padding: 20px;
  text-align: center;
}

/* PRODUCTS CAROUSEL + DETAILS */
.products-container {
  background-color: aquamarine;
  width: 100%;
}

.products-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-details-container {
  text-align: center;
  /* padding: 30px; */
}

.products-details-container h5 {
  font-style: italic;
  /* padding: 10px; */
}

.products-details-container p {
  /* padding: 10px; */
}

/* MEDIA QUERY */

/* FOR NAV BAR */
@media screen and (max-width: 1024px) {
  .nav-item img {
    display: none;
  }
}
