.contact-body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.contact-h1 {
    text-align: center;
    padding: 30px 0px 0px 0px;
}

.contact-sub-heading {
    color: var(--dkBackground);
}

.contact-container {
    max-width: 960px;
    margin: 30px auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    /* border: 2px solid #000; */
    background: rgb(32, 33, 34);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}

.contact-form-container {
    display: grid;
    row-gap: 1rem;
    padding: 10px;
}

.contact-map-container iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 700px) {
    .contact-container {
        grid-template-columns: 1fr;
        gap: 1rem;
        border-radius: 0px;
        margin: 0px;
    }

    .contact-map-container iframe {
        height: 400px;
    }

    .contact-h1 {
        padding: 30px 0px 15px 0px;
    }

    .contact-sub-heading {
        
    }
} 