@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  /* All American Color Pallette */
  --yellow: #fed766;
  --ltBackground: #fff;
  --dkBackground: #202122;
  --footer: #90c2e7;
  /* Home Page Our Features Circles & Products */
  --pink: #ffb6b6;
  --yellow: #ffce70;
  --green: #daff8d;
  --blue: #a7b0ff;
  --purple: #f199ff;
  --red: #ff4e63;

  /* All American Font */
  font-family: 'Hammersmith One', Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
}
